* {
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    color: white;
    font-weight: 800;
    font-size: 2em;
    text-align: center;
    height: 15vh;
}

.btn {
    width: 87%;
    margin-top: 5px;
}
.card {
    margin: 5px;
}
#forecast, #current-container {
    border: 2px solid black;
}